In [26]:
from sklearn.ensemble import IsolationForest
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')
filepath='data_cleaning.csv'
df=pd.read_csv(filepath)
df.head()

,id,project code,pq #,po / so #,asn/dn #,country,managed by,fulfill via,vendor inco term,shipment mode,...,unit of measure (per pack),line item quantity,line item value,pack price,unit price,manufacturing site,first line designation,weight (kilograms),freight cost (usd),line item insurance (usd)
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,True,13,780.34,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",True,358,4521.5,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,True,171,1653.78,NaN
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",True,1855,16007.06,NaN
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",True,7590,45450.08,NaN

In [27]:
check_cols=['unit price',
    'line item quantity',
    'line item value',
    'weight (kilograms)',
    'freight cost (usd)',]
x_train=df[check_cols]
x_train.head()

,unit price,line item quantity,line item value,weight (kilograms),freight cost (usd)
0,0.97,19,551.0,13,780.34
1,0.03,1000,6200.0,358,4521.5
2,0.80,500,40000.0,171,1653.78
3,0.07,31920,127360.8,1855,16007.06
4,0.05,38000,121600.0,7590,45450.08

In [33]:
model=IsolationForest(n_estimators=100,max_samples='auto',contamination=float(0.2),max_features=1.0)
model.fit(x_train[['unit price']])
x_train['anomaly scores']=model.decision_function(x_train[['unit price']])
x_train['anomaly']=model.predict(x_train[['unit price']])
x_train

,unit price,line item quantity,line item value,weight (kilograms),freight cost (usd),anomaly scores,anomaly
0,0.97,19,551.00,13,780.34,-0.068886,-1
1,0.03,1000,6200.00,358,4521.5,0.043989,1
2,0.80,500,40000.00,171,1653.78,0.037544,1
3,0.07,31920,127360.80,1855,16007.06,0.054147,1
4,0.05,38000,121600.00,7590,45450.08,0.066255,1
...,...,...,...,...,...,...,...
10319,0.06,166571,599655.60,See DN-4307 (ID#:83920),See DN-4307 (ID#:83920),0.061440,1
10320,0.11,21072,137389.44,See DN-4313 (ID#:83921),See DN-4313 (ID#:83921),0.086745,1
10321,0.33,514526,5140114.74,Weight Captured Separately,Freight Included in Commodity Cost,0.031865,1
10322,0.11,17465,113871.80,1392,Freight Included in Commodity Cost,0.086745,1
10323,0.03,36639,72911.61,Weight Captured Separately,Freight Included in Commodity Cost,0.043989,1