In [26]:
import pandas as pd 
import seaborn as sns

In [27]:
df= pd.read_csv("C:\\Users\\HP\\Desktop\\labs\\dmpa_project_final\\new_supply.csv")

In [28]:
df.head(3)

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID,Plant Code,Destination Port,Unit quantity,Weight
0,1447296447,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.30
1,1447158015,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.94
2,1447138899,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.20

In [29]:
df.columns

Index(['Order ID', 'Order Date', 'Origin Port', 'Carrier', 'TPT',
       'Service Level', 'Ship ahead day count', 'Ship Late Day count',
       'Customer', 'Product ID', 'Plant Code', 'Destination Port',
       'Unit quantity', 'Weight'],
      dtype='object')

In [30]:
df.rename(columns={'Unit quantity': 'Unit_quantity'}, inplace=True)
df.rename(columns={'Destination Port': 'Destination_Port'}, inplace=True)
df.rename(columns={'Plant Code': 'Plant_Code'}, inplace=True)
df.rename(columns={'Product ID': 'Product_ID'}, inplace=True)
df.rename(columns={'Ship ahead day count': 'Ship_ahead_day_count'}, inplace=True)
df.rename(columns={'Ship Late Day count': 'Ship_Late_Day_count'}, inplace=True)
df.head(3)

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship_ahead_day_count,Ship_Late_Day_count,Customer,Product_ID,Plant_Code,Destination_Port,Unit_quantity,Weight
0,1447296447,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.30
1,1447158015,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.94
2,1447138899,5/26/2013,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.20

In [31]:
df.isnull().sum()

Order ID                0
Order Date              0
Origin Port             0
Carrier                 0
TPT                     0
Service Level           0
Ship_ahead_day_count    0
Ship_Late_Day_count     0
Customer                0
Product_ID              0
Plant_Code              0
Destination_Port        0
Unit_quantity           0
Weight                  0
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9215 entries, 0 to 9214
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order ID              9215 non-null   int64
 1   Order Date            9215 non-null   object
 2   Origin Port           9215 non-null   object
 3   Carrier               9215 non-null   object
 4   TPT                   9215 non-null   int64
 5   Service Level         9215 non-null   object
 6   Ship_ahead_day_count  9215 non-null   int64
 7   Ship_Late_Day_count   9215 non-null   int64
 8   Customer              9215 non-null   object
 9   Product_ID            9215 non-null   int64
 10  Plant_Code            9215 non-null   object
 11  Destination_Port      9215 non-null   object
 12  Unit_quantity         9215 non-null   int64
 13  Weight                9215 non-null   float64
dtypes: float64(1), int64(6), object(7)
memory usage: 1008.0+ KB

In [33]:
attributes_to_keep = ['Product_ID','Plant_Code','Ship_ahead_day_count','Ship_Late_Day_count','Destination_Port','Carrier','Unit_quantity', 'Weight']
df = df[attributes_to_keep]

# Now, 'df' will only contain the specified attributes

In [34]:

df.to_csv("C:\\Users\\HP\\Desktop\\labs\\dmpa_project_final\\dmpa_2.csv", index=False)